<div ng-include src="'pages/partials/mainHeader.html'"></div>
<div ng-include src="'pages/partials/mainSidebar.html'"></div>

<div class="wrapper">
    <div class="content-wrapper" style="min-height: 780px;">
        <section class="content" ng-show="processCompleted">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-widget">
                        <div class='box-body'>
                            <div class="attachment-block clearfix">
                                <img class="attachment-img" ng-src="{{event.event_photo}}"
                                     alt="attachment image">

                                <div class="attachment-pushed">
                                    <h4 class="attachment-heading"><a ng-bind-template="{{event.title}} ({{event.event_location}})"></a></h4>
                                    <h6><a ng-click="goUserProfile(event.host.user_token)" ng-bind-template="(Host: {{event.event_host.name}} {{event.event_host.surname}})"></a></h6>
                                    <span ng-bind-template="{{event.event_start_date}} - {{event.event_end_date}}"></span>

                                    <div class="attachment-text"
                                         ng-bind="event.event_description">
                                    </div>
                                    <div class="time-label" style="margin-top: 10px;">
                                        <span class="bg-aqua label-style" ng-bind="event.tags"></span>
                                        <button class="btn btn-primary btn-sm" ng-click="makeGoing()"
                                                ng-show="notGoing">You are not going
                                        </button>
                                        <button class="btn btn-primary btn-sm" ng-click="makeNotgoing()"
                                                ng-show="!notGoing">You are going
                                        </button>
                                        <button class="btn btn-primary btn-sm" ng-click="shareEvent()">Share
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-widget">
                        <div class="box-body">
                            <div class="post">
                                <div class='user-block'>
                                    <span class='username'>New Post</span>
                                </div>
                                <div>
                                    <form class="form-horizontal">
                                        <div class="form-group margin-bottom-none">
                                            <div class="col-sm-9 col-md-9">
                                                <input class="form-control input-sm" placeholder="Type a content" ng-model="newPost.content">
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <button class="btn btn-danger pull-right btn-block btn-sm" ng-click="createPost()">Send</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-widget">
                        <div class="box-body">
                            <div class="post">
                                <div class='user-block'>
                                    <span class='username' ng-bind-template="Participants ({{event.event_participants.length}})"></span>
                                </div>
                                <div>
                                    <span class="bg-gray-light label-style" ng-click="goUserProfile(participant.user_token)" ng-bind-template="{{participant.name}} {{participant.surname}}" ng-repeat="participant in event.event_participants"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-widget" ng-repeat="post in event.event_posts">
                        <div class="box-body">
                            <div class="post">
                                <div class='user-block'>
                                    <img class='img-circle img-bordered-sm' ng-src='{{post.owner.user_photo}}'
                                         alt='user image'>
                                    <span class='username' ng-click="goUserProfile(post.owner.user_token)">
                                      <a ng-bind-template="{{post.owner.name}} {{post.owner.surname}}"></a>
                                    </span>
                                </div><!-- /.user-block -->
                                <p style="margin-left:10px;" ng-bind="post.content"></p>
                                <ul class="list-inline">
                                    <li class="pull-right"><a class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments ({{post.comments ? post.comments.length : 0}})</a></li>
                                </ul>

                                <div class="box-body" style="margin-left:10px;">
                                    <div class="post">
                                        <div class='user-block'>
                                            <div ng-repeat="comment in post.comments">
                                                <div class='user-block'>
                                                    <img class='img-circle img-bordered-sm' ng-src='{{comment.owner.user_photo}}' alt='user image'>
                                                    <span class='username' ng-click="goUserProfile(comment.owner.user_token)">
                                                        <a ng-bind-template="{{comment.owner.name}} {{comment.owner.surname}}"></a>
                                                    </span>
                                                    <span style="margin-left: 10px;" ng-bind="comment.comment_text"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <form class="form-horizontal">
                                    <div class="form-group margin-bottom-none">
                                        <div class="col-sm-9 col-md-9">
                                            <input class="form-control input-sm" placeholder="Type a comment"
                                                   ng-model="post.comment">
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <button class="btn btn-danger pull-right btn-block btn-sm"
                                                    ng-click="createComment(post)">Send
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.post -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="shareEventModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Share Event with Groups</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="inputTitle">Title</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span ng-bind="currentEventInstance.title"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>