<div ng-include src="'pages/partials/mainHeader.html'"></div>
<div ng-include src="'pages/partials/mainSidebar.html'"></div>

<div class="wrapper">
    <div class="content-wrapper" style="min-height: 780px;">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Custom Tabs (Pulled to the right) -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-right">
                            <li ng-click="currentEventRoute = eventRoutes.addNew"><a data-toggle="tab">New Event</a>
                            </li>
                            <li ng-click="currentEventRoute = eventRoutes.myEvents"><a data-toggle="tab">My Events</a>
                            </li>
                            <li class="active" ng-click="currentEventRoute = eventRoutes.allEvents"><a
                                    data-toggle="tab">All Events</a></li>
                            <li class="pull-left header"><i class="glyphicon glyphicon-bell"></i>Events</li>
                        </ul>
                        <div class="tab-content">
                            <div>
                                <div ng-show="currentEventRoute == eventRoutes.addNew">
                                    <section class="content">
                                        <div class="row">
                                            <!-- left column -->
                                            <div class="col-md-12">
                                                <!-- general form elements -->
                                                <div class="box box-primary">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Create New Event</h3>
                                                    </div><!-- /.box-header -->
                                                    <!-- form start -->
                                                    <form role="form" novalidate ng-submit="createEvent()">
                                                        <div class="box-body">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="inputTitle">Title</label>
                                                                        <input type="text" class="form-control"
                                                                               id="inputTitle" ng-model="event.title"
                                                                               placeholder="Title" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group has-feedback">
                                                                        <label for="inputDescription">Description</label>
                                                                        <input type="text" class="form-control"
                                                                               id="inputDescription"
                                                                               ng-model="event.event_description"
                                                                               placeholder="Description" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="inputLocation">Location</label>
                                                                        <input type="text" class="form-control"
                                                                               id="inputLocation"
                                                                               ng-model="event.event_location"
                                                                               placeholder="Location" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group has-feedback">
                                                                        <label for="inputTime">Event Date</label>
                                                                        <input type="text" class="form-control"
                                                                               ng-model="event.event_date"
                                                                               id="inputTime"
                                                                               placeholder="Event Date"
                                                                               required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group has-feedback">
                                                                        <label for="eventPhotoPicker">Event
                                                                            Photo</label>
                                                                        <input type="text" class="form-control"
                                                                               id="eventPhotoPicker"
                                                                               ng-model="event.event_photo"
                                                                               placeholder="Event Photo" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form group has-feedback">
                                                                        <label>Tags</label>
                                                                        <input type="text" class="form-control"
                                                                               placeholder="Tags"
                                                                               ng-model="event.tags">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <message type="success"
                                                                             display="successMessage"></message>
                                                                    <message type="error"
                                                                             display="errorMessage"></message>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button type="submit"
                                                                            class="btn btn-primary btn-block btn-flat">
                                                                        Create
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div ng-show="currentEventRoute == eventRoutes.myEvents">
                                    <section class="content" ng-show="myAllEvents.length != 0">
                                        <div class="row" ng-repeat="myEvent in myAllEvents">
                                            <div class="col-md-12">
                                                <event-summary data="myEvent"></event-summary>
                                            </div>
                                        </div>
                                    </section>
                                    <div ng-show="myAllEvents.length == 0">
                                        <h5>Nothing to show!</h5>
                                    </div>
                                </div>
                                <div ng-show="currentEventRoute == eventRoutes.allEvents">
                                    <section class="content" ng-show="allEvents.length != 0">
                                        <div class="row" ng-repeat="allEvent in allEvents">
                                            <div class="col-md-12">
                                                <event-summary data="allEvent"></event-summary>
                                            </div>
                                        </div>
                                        <div ng-show="allEvents.length == 0">
                                            <h5>Nothing to show!</h5>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>