<div ng-include src="'pages/partials/mainHeader.html'"></div>
<div ng-include src="'pages/partials/mainSidebar.html'"></div>

<div class="wrapper">
    <div class="content-wrapper" style="min-height: 780px;">
        <div class="row">
            <div ng-show="recommendationsEnabled">
                <br>
                <section class="content col-md-6">
                    <div>
                        <span class="page-header "><b> Recommended Events </b> </span>
                        <br>
                       <br>
                        <div ng-repeat="event in recommendations.events">
                            <event-summary data="event"></event-summary>
                        </div>
                        <div class="box box-widget" ng-show="recommendations.events.length == 0">
                            <h3 class="page-header">Nothing to recommend. You may want to go events page!</h3>
                        </div>
                    </div>
                </section>

                <section class="content col-md-6">
                    <div>
                        <span class="page-header "><b> Recommended Groups </b> </span>
                        <br>
                        <br>
                        <div ng-repeat="interestGroup in recommendations.group">
                            <group-summary data="interestGroup"></group-summary>
                        </div>
                    </div>
                    <div class="box box-widget" ng-show="recommendations.group == 0">
                        <h3 class="page-header">Nothing to recommend. You may want to go groups page!</h3>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
