<div class="login-box">
    <div class="login-logo">
        <a style="color:#0097bc;">SocialNow</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Log in to start your session</p>

        <form name="loginForm" novalidate ng-submit="login(loginForm.$valid)">
            <div class="form-group has-feedback">
                <input type="text" name="email" class="form-control" placeholder="Email" ng-model="currentUser.Email" required ng-pattern="/^[a-z.\-_]+@boun\.edu\.tr$/">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div ng-show="loginForm.email.$error.required && submitted">
                    <error-message message="'Email field is required'"></error-message>
                </div>
                <div ng-show="!loginForm.email.$error.required && loginForm.email.$error.pattern && submitted">
                    <error-message message="'Email must have boun.edu.tr extension'"></error-message>
                </div>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="currentUser.Password" required ng-minlength="6">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div ng-show="loginForm.password.$error.required && submitted">
                    <error-message message="'Password field is required'"></error-message>
                </div>
                <div ng-show="!loginForm.password.$error.required && loginForm.password.$error.minlength && submitted">
                    <error-message message="'Minimum password length is 6'"></error-message>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <error-message message="errorMessage"></error-message>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
                </div>
            </div>
        </form>

        <div class="margin-top">
            <a href="" class="pull-right" link-button="">I forgot my password</a><br>
            <a href="" class="pull-right" link-button="'/signup'" class="text-center">Register a new membership</a>
        </div>

    </div>
</div>
