<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Not functional...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li link-button="'/profile'">
                <a>
                    <i class="fa fa-th"></i> <span>Profile</span>
                </a>
            </li>
            <li link-button="'/events'">
                <a>
                    <i class="fa fa-files-o"></i> <span>Events</span>
                    <span class="label label-primary pull-right"><</span>
                </a>
            </li>
            <!--<li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Events</span>
                    <span class="label label-primary pull-right"><</span>
                </a>
                <ul class="treeview-menu">
                    <li><a><i class="fa fa-circle-o"></i>Create New Event</a></li>
                    <li><a><i class="fa fa-circle-o"></i>My Events</a></li>
                    <li><a><i class="fa fa-circle-o"></i>All Events</a></li>
                </ul>
            </li>-->
        </ul>
    </section>
</aside>