<header class="main-header">
    <!-- Logo -->
    <a class="logo" link-button="'/'">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>N</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Social</b>Now</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-alert"></i>
                        <span class="label label-danger" ng-show="newNotificationCount != 0" ng-bind="newNotificationCount"></span>
                    </a>
                    <ul class="dropdown-menu" style="width: 400px;">
                        <li class="header">You have {{newNotificationCount}} notification(s)</li>
                        <li ng-show="allNotifications.length != 0">
                            <a>
                                <i class="glyphicon glyphicon-bell text-aqua"></i> Events
                            </a>
                        </li>
                        <li>
                            <ul class="menu">
                                <li style="margin-left: 4px;" ng-repeat="notification in allNotifications">
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                    <span style="font-size: small;" ng-bind-template="{{notification.from_user.name}} {{notification.from_user.surname}}" ng-click="goUserProfile(notification.from_user.user_token)"></span>
                                    <span style="font-size: small;"> shared </span>
                                    <span style="font-size: small;" ng-bind="notification.event.title" ng-click="goEventDetail(notification.event.id)"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown notifications-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-users text-gray"></i>
                        <span class="label label-warning" ng-bind="instanceEvents.length"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{instanceEvents.length}} instant event(s)</li>
                        <li>
                            <ul class="menu">
                                <li ng-show="instanceEvents.length != 0" ng-click="instantEventDetail(instanceEvent)" data-toggle="modal" data-target="#instantEventDetail" ng-repeat="instanceEvent in instanceEvents">
                                    <a>
                                        <span class="pull-left" ng-bind="instanceEvent.title"><i class="fa fa-member"></i></span>
                                        <span class="pull-right font-light" ng-bind-template="{{instanceEvent.time_remaining}} min(s)"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer" data-toggle="modal" data-target="#createInstantEvent"><a>Create Instant Event</a></li>
                    </ul>
                </li>
                <!--<li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                 role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>-->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs" ng-bind-template="{{user.name}} {{user.surname}}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img ng-src="{{user.photoUrl}}" class="img-circle" alt="User Image">
                            <p  ng-bind-template="{{user.name}} {{user.surname}}"></p>
                            <p ng-bind="user.role"></p>
                        </li>
                        <!--
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </li> -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left" link-button="'/profile'">
                                <a class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right" logout-button>
                                <a class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Modals start -->
<div class="modal fade" id="createInstantEvent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Instant Event</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputTitle">Title</label>
                                    <input type="text" class="form-control"
                                           id="inputTitle" ng-model="instantEvent.title"
                                           placeholder="Title" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <label for="inputDescription">Description</label>
                                    <input type="text" class="form-control"
                                           id="inputDescription"
                                           ng-model="instantEvent.instant_event_description"
                                           placeholder="Description" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputLocation">Location</label>
                                    <input type="text" class="form-control"
                                           id="inputLocation"
                                           ng-model="instantEvent.instant_event_location"
                                           placeholder="Location" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <label for="inputTime">Duration</label>
                                    <input type="text" class="form-control"
                                           id="inputTime"
                                           ng-model="instantEvent.duration_in_minutes"
                                           placeholder="Duration in minutes" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="createInstantEvent(instantEvent)">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="instantEventDetail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Instant Event Detail</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="inputTitle">Title</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span ng-bind="currentEventInstance.title"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="inputTitle">Description</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span ng-bind="currentEventInstance.instant_event_description"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="inputTitle">Owner</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span ng-bind-template="{{currentEventInstance.instant_event_owner.name}} {{currentEventInstance.instant_event_owner.surname}}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="inputTitle">Location</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span ng-bind="currentEventInstance.instant_event_location"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="inputTitle">Starting from:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span ng-bind="currentEventInstance.date"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="inputTitle">Duration</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span ng-bind-template="{{currentEventInstance.duration_in_minutes}} min(s)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modals end -->